{% extends "mainapp/layout.html" %}
{% load static %}

{% block title  %}
Personalized Read
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/recommendation.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
{% endblock head %}


{% block main %}

<h1 class="heading text-center pt-3 pb-3">Personalized Recommendations</h1>

<div class="card-deck pb-4 mb-5" style="margin: 0 auto;">
    {% for book in books %}
    <div class="book-cell">
        <div class="book-img">
            <img src="{{book.image_url}}" alt="book-image" class="book-photo cover-img">
        </div>
        <div class="book-content">
            <div class="book-title">{{book.original_title}}</div>
            <div class="book-author">by {{book.authors}}</div>
            <span class="book-voters">{{book.average_rating}} rating &#11088;</span>
            <a href="javascript:;" onclick='bookDetails(this)' class="btn more-details"
                data-book-id="{{ book.book_id }}">More Details</a>
            {% if user.is_authenticated %}
            <div class='rating-block' id='rating-block-{{ book.book_id }}' onmouseover="rateStart(this)"
                onclick='rateBook(this)' onmouseout='finishRate(this)' data-book-id="{{ book.book_id }}">
                <div id='button-text-{{ book.book_id }}'>Rate This Book</a>
                </div>
                <div class='rateYo' id='rate-{{ book.book_id }}'></div>
            </div>
            {% else %}
            <div class='rating-block btn' onclick="location.href='{% url 'account_signup' %}'">
                <div id='button-text'>Rate This Book</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3"  %}
</div>
<div class="card-deck  pb-4  mb-5" style="margin: 0 auto;">
    {% endif %}
    {% endfor %}
</div><!-- The final deck is closed here, outside the loop -->


<head>
    <link/>
    <link rel="stylesheet" href="{% static 'main.css' %}" /> 
  </head>
  
  <body>
    <h3>Give me some name of books</h3>
    <form action="{% url 'home_view' %}" method="post" id="basicform">
      {% csrf_token %}
      {{ form.input }}
      <button type="submit">Find Books</button>
    </form>
  
    <div>
      <ul class="result">
      </ul>
    </div>
  
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
  </body>
  

{% endblock main %}